.box {
  /* height: 200px; */
  width: 100px;
  border: 1px solid black;
}

.container {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  /* vertical-align: middle; */
  margin-top: 75px;
}
